*
{
    margin: 0;
    padding: 0;
}

html, body 
{
    height: 100vh;
    /* font-family: 'Architects Daughter', cursive;    
    letter-spacing: 2.75rem; */
    background: rgb(24, 24, 24);
}
body
{
    overflow-x: hidden;
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;  /* used to make the sphere transparent */
}
header, footer
{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container
{
    height: 100vh;
    display: grid;
    place-items: center;
}
h1
{
    font-family: 'Architects Daughter', cursive;    
    font-size: 3.85rem;
    text-transform: uppercase;
    color: whitesmoke;
    letter-spacing: 2.75rem;
}
/* used to have some scroll */
section 
{
    height: 50vh;
}